.elements {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 0 67px;
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1080px) {
  .elements {

  }
}

@media screen and (max-width: 960px) {
  .elements {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    padding: 0 19px 48px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 520px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
