.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url(../../../images/close-button.svg);
  background-size: cover;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

