.error {
  margin: 0 36px 0;
  min-height: 30px;
  font-size: 12px;
  line-height: 15px;
  display: block;
  color: #FF0000;
  box-sizing: border-box;
}

.error:last-of-type {
  margin: 0 36px 18px;
}

@media screen and (max-width: 768px) {
  .error {
    margin: 0 22px 0;
  }

  .error:last-of-type {
    margin: 0 22px 15px;
  }
}



