.element__delete-button {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url(../../../images/trash.svg);
  visibility: hidden;
}

.element__delete-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}
