.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  grid-area: edit;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

.profile__edit:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
