.element__like {
  width: 22px;
  height: 19px;
  margin: 22px 20px 3px;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

.element__like:hover {
  opacity: 0.5;
  transition: 0.3s;
}
